#page-bg {
    background: url("https://img2.imgtp.com/2024/03/11/zqYOuouZ.jpg") no-repeat 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 0;
    position: absolute;
}

#page-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    filter: brightness(0.9);
}

.widget-01 {
    background: url("../imgs/bg-03.jpg") no-repeat 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 0;
    position: absolute;
}