body {
    margin: 0;
    padding: 0;
    background-image: url('https://img2.imgtp.com/2024/03/11/i3TPVgon.jpg');
    background-size: cover;
    /*background-color: #32936F; !* 绿色背景色 *!*/
    color: white;
    font-size: 80px;
    text-align: center;
    text-align-all: center;

}

#clock {
    font-family: "JetBrains Mono", 幼圆, "Microsoft YaHei", sans-serif;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#lunar-time {
    font-family: 幼圆, "Microsoft YaHei", sans-serif;
    position: absolute;
    top: 44%;
    left: 50%;

    transform: translate(-50%, -50%);
    font-size: 0.7em;
}

div {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
