
body {
    /*overflow-x: hidden;*/
    margin: 0;
    padding: 0;
    width: 100%;
}


.bg-text {
    text-align: left;
    font-size: 50px;
    font-family: "JetBrains Mono", "Microsoft YaHei", monospace;
    position: relative;
    top: 50%;
    left: 45%;
    width: 50%;

    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    /*overflow: hidden;*/
    /*z-index: top;*/
}

.sub-text {
    font-family: "JetBrains Mono", "Microsoft YaHei", monospace;
    text-align: left;
    top: 45%;
    left: 45%;
    font-size: 30px;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.5);
    /*z-index: ;*/
    position: relative;
    width: 50%;
    /*overflow: hidden;*/
}