#index-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background: #313540;
    height: 60px;
    border-bottom: 1px solid #313540;
}


.section-content {
    display: flex;
    align-items: center;
    /*margin-left: 10px;*/
    /*height: 50%;*/
    /*position: relative;*/

}

.logo {
    display: flex;
    align-items: center;
    left: 5%;
    height: 50%;
    position: absolute;
    top: 30%;
    /*margin-top: 13px;*/
}

.top-content {
    position: relative;
    margin-left: 8px;
    /* 调整间距 */
    font-family: "SimSun-ExtB", sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: gainsboro;
    /*width: 150px;*/
    white-space: nowrap;
}

.genshin {
    display: flex;
    align-items: center;
    /*margin-right: 50px;*/
    right: 10%;
    height: 50%;
    position: absolute;
    top: 30%;

}

/*下拉栏样式*/

.dropdown {
    margin-right: 10px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(16, 17, 20, 0.747);
    min-width: 80px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    padding: 10px;
    width: 50px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    /* 修改链接颜色 */
    font-size: 18px;
    /* 修改字体大小 */
    /* text-decoration: none; */
    /* 去掉下划线*/
    padding: 12px 16px;
    /* text-decoration: none; */
    display: inline-block;
    /*writing-mode: initial;*/
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.dropdown a {
    color: white;
    /* 修改链接颜色 */
    font-size: 18px;
    /* 修改字体大小 */
    text-decoration: none;
    /* 去掉下划线*/
    display: block;
    /*writing-mode: vertical-lr;*/
    width: 50px;
    height: 20px;
    position: relative;
    margin-right: 10px;
}

.top-item {
    font-family: "幼圆", monospace;
    position: absolute;
    top: 35%;
    left: 60%;
}